go 1.19

use (
	./abbreviating-the-product-of-a-range
	.
	./check-if-a-word-occurs-as-a-prefix-of-any-word-in-a-sentence
	./counting-words-with-a-given-prefix
	./deepest-leaves-sum
	./design-skiplist
	./maximum-binary-tree
	./maximum-binary-tree-ii
	./maximum-equal-frequency
	./maximum-product-difference-between-two-pairs
	./number-of-students-doing-homework-at-a-given-time
	./prefix-and-suffix-search
	./reverse-prefix-of-word
	./serialize-and-deserialize-binary-tree
	./transform-to-chessboard
	./utils
	./count-complete-tree-nodes
)
